table {
  border-collapse: separate;
}

th {
  border: 3px solid rgb(255, 164, 182);
  border-radius: 5px 5px 0 0 ;
}

tr {
  margin-top: 5px;
}

td {
  border: 3px rgb(249, 209, 209) solid;
  padding: 5px;
  font-weight: 500;
}